<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="google-site-verification" content="ABlpbOSOCFI7F5iCwtC2DWK-dLXwww7r9Fdh6nW5weA">
  <title>TechKids - Coding School</title>
  <meta property='og:image' , content='http://techkids.vn/cms/img/logo.png'>
  <meta property='og:site_name' , content='TechKids Coding School'>
  <meta property='og:description' , content='Chúng tôi ở đây để tạo ra những con người có thể thay đổi thế giới.'>


  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Web Starter Kit">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">

  <!-- Color the status bar on mobile devices -->
  <meta name="theme-color" content="#2F3BA2">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300|Open+Sans:700,800,300|Source+Sans+Pro:400,700,900' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=vietnamese" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="libs/lightbox/dist/css/lightbox.css" type="text/css" media="screen" />
  <!-- Slick Library -->
  <link rel="stylesheet" type="text/css" href="libs/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css" />
  <!-- End Slick Library -->  
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="libs/materialize/css/materialize.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>

            <script type="text/javascript">
                var isInEditMode = false;
            </script>
<div class="loading-container" data-require="base/loading">
            <div class="loading-mask">
            </div>
        </div>
  <!-- Add your site or app content here -->
  <div class="page-wrapper disable-scrolling">
    <section class="top-navigator-container" data-require="base/top-navigator">
      <a class="top-navigotar__link" href="/" title="">
      <img class="top-navigator__logo" src="./images/White.png" alt="Chúng tôi ở đây để tạo ra những con người có thể thay đổi thế giới." />
	  </a>
      <div class="hamburger-menu__container">
        <span class="hamburger-menu__button">
              <span></span>
        <span></span>
        <span></span>
        <span></span>
        <label class="hamburger-menu__text">Menu</label>
        </span>
      </div>
      <div class="top-navigator__menu-container">
        <div class="top-navigator__menu-container__wrapper">
          <ul>
            <li>
              <a href="http://techkids.vn:8080/service" class="">Our Service</a>
            </li>
            <li>
              <a href="http://techkids.vn:8080/our-team" class="">Our Team</a>
            </li>
            <li>
              <a href="http://techkids.vn:8080/portfolio" class="">Our Portfolio</a>
            </li>
            <li>
              <a href="#" class="">Our Working Process</a>
            </li>
            <li>
              <a href="#" class="">Our Happy Partners</a>
            </li>
            <li>
              <a href="#" class="">Our School</a>
            </li>
            <li>
              <a href="#" class="">Careers Opportunities</a>
            </li>
            <li>
              <a href="#" class="">Blog (Vietnamese Only)</a>
            </li>
            <li>
              <a href="http://techkids.vn:8080/contact" class="">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="content-container">
      <div class="content-wrapper">
        <section class="page-introduction-container" style="height: 576px;">
          <div class="page-introduction-top-block" data-require="base/page-introduction">
            <div class="page-introduction-top-block__background page-introduction__background" style="top: 0px;">
              <picture>
                <source media="(min-width: 75rem)" srcset="../images/our-work-bg.jpg">
                <!-- <source media="(min-width: 62rem)" srcset="/globalassets/header-new-images/desktop/engagement-header.jpg?preset=1300">
                <source media="(min-width: 48rem)" srcset="/globalassets/header-new-images/tablet/engagement-header-tablet.jpg?preset=1000, /globalassets/header-new-images/tablet_2x/engagement-header-tablet_2x.jpg?preset=1900 2x"> -->
                <img src="../images/services-bg.jpg" alt="Our Services">
              </picture>
            </div>
            <div class="page-introduction-top-block__content page-introduction__content" style="margin-top: 65px; opacity: 1;">
              <h1 class="myriadpro">The Best Portfolio</h1>
              <span class="page-introduction-top-block__content__sub-title">
                  Featuring our best projects
              </span>
              <div class="container" style="width: 90%;  margin-top: 2%;">
				<div class="row desktop-version">
					<div class="col s12">
					  <ul class="tabs tabs-fixed-width" id="tabs">
						<li class="tab col s12 m4"><a class="active" href="#ios">iOS</a></li>
						<li class="tab col s12 m4"><a href="#android">Android</a></li>
						<li class="tab col s12 m4"><a href="#web">Web</a></li>
					  </ul>
					</div>
				</div>
				<div class="tabs-vertical mobile-version">
					<div class="col s12">
					  <ul class="tabs">
						<li class="tab col s12 m4"><a class="center waves-effect waves-cyan active" href="#ios">iOS</a></li>
						<li class="tab col s12 m4"><a class="center waves-effect waves-cyan" href="#android">Android</a></li>
						<li class="tab col s12 m4"><a class="center waves-effect waves-cyan" href="#web">Web</a></li>
					  </ul>
					</div>
				  </div>
			  </div>
          </div>
          <div class="page-introduction-top-block__arrow-down page-introduction__arrow" style="bottom: 80px;">
            <i class="fa fa-angle-down"></i>
          </div>
      </div>
      </section>
      <div id="ios">
		<div class="portfolio-block">
        <div class="row">
          <div class="col s12 m4 l4 desktop-version">
            <div class="relative-container">
              <img class="wireframe" src="img/apple-iphone6-gold-portrait.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/TOSs_LzK3Ow" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col s12 m8 l8">
            <h1 class="source-san-black uppercase-text">GMAT learning</h1>
            <h5 class="">App designer:</h5>
            <h5 class="">Thời gian thực hiện: 3 tuần</h5>
            <h5 class="">Mô tả ngắn:</h5>
            <p class="justify-text desktop-version open-san-light">
              GMAT learning là sản phẩm dành cho các bạn trẻ đang là sinh viên hoăc người đi làm có ý định học GMAT để đi du học thạc sĩ. Tính năng chính của app là kiểm tra khả năng làm bài của người dùng bằng các bài kiểm tra tương tự thi thật; tự động theo dõi và
              đánh giá khả năng của người dùng bằng các biểu đồ số liệu, từ đó giúp xây dựng chiến lược tăng điểm thi phù hợp. Đây là giải pháp tối ưu cho các bạn trẻ không có nhiều thời gian hoặc không có điều kiện đi học tại các trung tâm. Điểm đặc biệt
              nhất của app là phân tích được điểm yếu của người dùng: hay sai ở kỹ năng nào, loại bài tập nào để người dùng tập trung luyện tập và có biểu đồ kiểm tra sự tiến bộ
            </p>
            <div class="justify-text mobile-version open-san-light">
              <input type="checkbox" class="read-more-state" id="post-4" />

              <p class="read-more-wrap">GMAT learning là sản phẩm dành cho các bạn trẻ đang là sinh viên hoăc người đi làm có ý định học GMAT
                <span class="read-more-target">
                     để đi du học thạc sĩ. Tính năng chính của app là kiểm tra khả năng làm bài của người dùng bằng các bài kiểm tra tương tự thi thật; tự động theo dõi và đánh giá khả năng của người dùng bằng các biểu đồ số liệu, từ đó giúp xây dựng chiến lược tăng điểm thi phù hợp. Đây là giải pháp tối ưu cho các bạn trẻ không có nhiều thời gian hoặc không có điều kiện đi học tại các trung tâm. Điểm đặc biệt nhất của app là phân tích được điểm yếu của người dùng: hay sai ở kỹ năng nào, loại bài tập nào để người dùng tập trung luyện tập và có biểu đồ kiểm tra sự tiến bộ
                </span>
              </p>
              <label for="post-4" class="read-more-trigger"></label>
            </div>
            <div class="relative-container mobile-version">
              <img class="wireframe" src="img/apple-iphone6-gold-portrait.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/TOSs_LzK3Ow" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="responsive-slick">
              <a href="img/IOS GMAT_/Screenshot_2016-10-10-00-51-31.png" data-lightbox="set-4">
                <img class="portrait_demo_pic" src="img/IOS GMAT_/Screenshot_2016-10-10-00-51-31.png" alt="" />
              </a>
              <a href="img/IOS GMAT_/Screenshot_2016-10-10-01-08-40.png" data-lightbox="set-4" >
                <img class="portrait_demo_pic" src="img/IOS GMAT_/Screenshot_2016-10-10-01-08-40.png" alt="" />
              </a>
              <a href="img/IOS GMAT_/Screenshot_2016-10-17-00-49-34.png" data-lightbox="set-4">
                <img class="portrait_demo_pic" src="img/IOS GMAT_/Screenshot_2016-10-17-00-49-34.png" alt="" />
              </a>
              <a href="img/IOS GMAT_/Screenshot_2016-10-17-00-50-21.png" data-lightbox="set-4">
                <img class="portrait_demo_pic" src="img/IOS GMAT_/Screenshot_2016-10-17-00-50-21.png" alt="" />
              </a>
              <a href="img/IOS GMAT_/Screenshot_2016-10-22-23-09-08.png" data-lightbox="set-4">
                <img class="portrait_demo_pic" src="img/IOS GMAT_/Screenshot_2016-10-22-23-09-08.png" alt="" />
              </a>
              <a href="img/IOS GMAT_/Screenshot_2016-10-22-23-16-46.png" data-lightbox="set-4">
                <img class="portrait_demo_pic" src="img/IOS GMAT_/Screenshot_2016-10-22-23-16-46.png" alt="" />
              </a>
              <a href="img/IOS GMAT_/Screenshot_2016-10-22-23-17-35.png" data-lightbox="set-4">
                <img class="portrait_demo_pic" src="img/IOS GMAT_/Screenshot_2016-10-22-23-17-35.png" alt="" />
              </a>
              <a href="img/IOS GMAT_/Screenshot_2016-10-22-23-32-41.png" data-lightbox="set-4">
                <img class="portrait_demo_pic" src="img/IOS GMAT_/Screenshot_2016-10-22-23-32-41.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-block gray-block">
        <div class="row">
          <div class="col s12 m8 l8">
            <h1 class="source-san-black uppercase-text">30 shine</h1>
            <h5 class="">App designer:</h5>
            <h5 class="">Thời gian thực hiện: 1 tháng</h5>
            <h5 class="">Mô tả ngắn:</h5>
            <p class="justify-text desktop-version open-san-light">
                30 shine là giải pháp quản lý cửa hàng, phân bổ nguồn lực hợp lý cho tiệm cắt tóc. Chức năng quan trọng nhất của App là cho phép khách hàng lựa chọn và đặt lịch, địa điểm và thợ cắt tóc thông qua mạng online một cách chủ động nhớ hệ thống báo cáo thông minh. Nhớ đó không những khách hàng có thể chủ động chọn thời điểm theo ý muốn mà không phải chờ quá lâu, đồng thời còn giúp chủ hệ thống cửa hàng phân bổ và tối ưu hóa nguồn lực. App còn có một số chức năng khác như tư vấn online, giới thiệu các dịch vụ, bán kèm các sản phẩm làm tóc như keo xịt, thuốc dưỡng tóc, sáp vuốt cũng như giới thiệu các mẫu tóc mới nhất và phù hợp nhất để khách hàng dễ dàng chọn lựa
            </p>
            <div class="justify-text mobile-version open-san-light">
              <input type="checkbox" class="read-more-state" id="post-5" />

              <p class="read-more-wrap">
                  30 shine là giải pháp quản lý cửa hàng, phân bổ nguồn lực hợp lý cho tiệm cắt tóc.
                <span class="read-more-target">
                    Chức năng quan trọng nhất của App là cho phép khách hàng lựa chọn và đặt lịch, địa điểm và thợ cắt tóc thông qua mạng online một cách chủ động nhớ hệ thống báo cáo thông minh. Nhớ đó không những khách hàng có thể chủ động chọn thời điểm theo ý muốn mà không phải chờ quá lâu, đồng thời còn giúp chủ hệ thống cửa hàng phân bổ và tối ưu hóa nguồn lực. App còn có một số chức năng khác như tư vấn online, giới thiệu các dịch vụ, bán kèm các sản phẩm làm tóc như keo xịt, thuốc dưỡng tóc, sáp vuốt cũng như giới thiệu các mẫu tóc mới nhất và phù hợp nhất để khách hàng dễ dàng chọn lựa
                </span>
            </p>
              <label for="post-5" class="read-more-trigger"></label>
            </div>
            <div class="relative-container mobile-version">
              <img class="wireframe" src="img/apple-iphone6-gold-portrait.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/TbVzVoqBtGk" frameborder="0" auto allowfullscreen></iframe>
              </div>
            </div>
            <div class="responsive-slick">
              <a href="img/IOS 30shine/Screenshot_2016-10-23-01-08-39.png" data-lightbox="set-5">
                <img class="portrait_demo_pic" src="img/IOS 30shine/Screenshot_2016-10-23-01-08-39.png" alt="" />
              </a>
              <a href="img/IOS 30shine/Screenshot_2016-10-23-01-08-47.png" data-lightbox="set-5">
                <img class="portrait_demo_pic" src="img/IOS 30shine/Screenshot_2016-10-23-01-08-47.png" alt="" />
              </a>
              <a href="img/IOS 30shine/Screenshot_2016-10-23-01-08-55.png" data-lightbox="set-5">
                <img class="portrait_demo_pic" src="img/IOS 30shine/Screenshot_2016-10-23-01-08-55.png" alt="" />
              </a>
              <a href="img/IOS 30shine/Screenshot_2016-10-23-01-09-16.png" data-lightbox="set-5">
                <img class="portrait_demo_pic" src="img/IOS 30shine/Screenshot_2016-10-23-01-09-16.png" alt="" />
              </a>
              <a href="img/IOS 30shine/Screenshot_2016-10-23-01-10-09.png" data-lightbox="set-5">
                <img class="portrait_demo_pic" src="img/IOS 30shine/Screenshot_2016-10-23-01-10-09.png" alt="" />
              </a>
              <a href="img/IOS 30shine/Screenshot_2016-10-23-01-10-37.png" data-lightbox="set-5">
                <img class="portrait_demo_pic" src="img/IOS 30shine/Screenshot_2016-10-23-01-10-37.png" alt="" />
              </a>
              <a href="img/IOS 30shine/Screenshot_2016-10-23-01-11-18.png" data-lightbox="set-5">
                <img class="portrait_demo_pic" src="img/IOS 30shine/Screenshot_2016-10-23-01-11-18.png" alt="" />
              </a>
            </div>
          </div>
          <div class="col s12 m4 l4 desktop-version">
            <div class="relative-container">
              <img class="wireframe" src="img/apple-iphone6-gold-portrait.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/TbVzVoqBtGk" frameborder="0" auto allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-block">
        <div class="row">
          <div class="col s12 m4 l4 desktop-version">
            <div class="relative-container">
              <img class="wireframe" src="img/apple-iphone6-gold-portrait.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/W2ytQ7wPJno" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col s12 m8 l8">
            <h1 class="source-san-black uppercase-text">IELTS listening</h1>
            <h5 class="">App designer: Ninh Văn Ích, Lê Tuấn Anh, IOS gen 2</h5>
            <h5 class="">Thời gian thực hiện: 1 tuần</h5>
            <h5 class="">Mô tả ngắn:</h5>
            <p class="justify-text desktop-version open-san-light">
                IELTS listening là sản phẩm đạt giải nhì trong cuộc thi Techkids Hackathon 1 được tổ chức vào tháng 10/2016. IELTS listening giúp cho việc nghe tiếng anh trở nên hiệu quả hơn bao giờ hết và là một sản phẩm cực hữu ích đối với các bạn trẻ đang có nhu cầu nâng cao khả năng nghe của mình. Tính năng quan trọng nhất hỗ trợ việc học nghe đó là tính năng nghe và điền từ vào ô trống. Thay vì nghe và chép những bài nghe ra giấy, sách vở, chúng ta có thể điền từ vào ngay trên phần mềm mọi lúc, mọi nơi. Ngoài ra app có tính năng tiến và lùi 5s giúp cho việc nghe trở nên thuận tiện hơn; lưu mục Favorites, Playlist, giúp chúng ta dễ quản lý và ghi nhớ các bài học yêu thích.
            </p>
            <div class="justify-text mobile-version open-san-light">
              <input type="checkbox" class="read-more-state" id="post-6" />

              <p class="read-more-wrap">IELTS listening là sản phẩm đạt giải nhì trong cuộc thi Techkids Hackathon 1 được tổ chức vào tháng 10/2016. IELTS listening giúp cho việc nghe tiếng anh trở nên hiệu quả hơn bao giờ hết và là một sản phẩm cực hữu ích đối với các bạn trẻ đang có nhu cầu nâng cao khả năng nghe của mình.
                <span class="read-more-target">
                     Tính năng quan trọng nhất hỗ trợ việc học nghe đó là tính năng nghe và điền từ vào ô trống. Thay vì nghe và chép những bài nghe ra giấy, sách vở, chúng ta có thể điền từ vào ngay trên phần mềm mọi lúc, mọi nơi. Ngoài ra app có tính năng tiến và lùi 5s giúp cho việc nghe trở nên thuận tiện hơn; lưu mục Favorites, Playlist, giúp chúng ta dễ quản lý và ghi nhớ các bài học yêu thích.
                </span>
            </p>
              <label for="post-6" class="read-more-trigger"></label>
            </div>
            <div class="relative-container mobile-version">
              <img class="wireframe" src="img/apple-iphone6-gold-portrait.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/W2ytQ7wPJno" frameborder="0" auto allowfullscreen></iframe>
              </div>
            </div>
            <div class="responsive-slick">
              <a href="img/IOS IElts learning/1.jpg" data-lightbox="set-6" >
                <img class="portrait_demo_pic" src="img/IOS IElts learning/1.jpg" alt="" />
              </a>
              <a href="img/IOS IElts learning/2.jpg" data-lightbox="set-6">
                <img class="portrait_demo_pic" src="img/IOS IElts learning/2.jpg" alt="" />
              </a>
              <a href="img/IOS IElts learning/3.jpg" data-lightbox="set-6" >
                <img class="portrait_demo_pic" src="img/IOS IElts learning/3.jpg" alt="" />
              </a>
              <a href="img/IOS IElts learning/4.jpg" data-lightbox="set-6">
                <img class="portrait_demo_pic" src="img/IOS IElts learning/4.jpg" alt="" />
              </a>
              <a href="img/IOS IElts learning/5.jpg" data-lightbox="set-6" >
                <img class="portrait_demo_pic" src="img/IOS IElts learning/5.jpg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
	  </div>
      <div id="android">
		 <div class="portfolio-block">
        <div class="row">
          <div class="col s12 m4 l4 desktop-version">
            <div class="relative-container">
              <img class="wireframe" src="img/S7.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/40mHfIAKR28" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col s12 m8 l8">
            <h1 class="source-san-black uppercase-text">Tiếng Anh cho bé</h1>
            <h5 class="">App designer: Linh DQ Android gen 2</h5>
            <h5 class="">Thời gian thực hiện: 1 tuần</h5>
            <h5 class="">Mô tả ngắn:</h5>
            <p class="justify-text desktop-version open-san-light">
                Phần mềm dành cho các bé từ 4 đến 10 tuổi, đang trong quá trình tiếp xúc và học tập tiếng anh từ những bước đầu tiên. Thay vì các buổi học nhàm chán trên lớp hoặc tốn nhiều tiền đến các trung tâm đắt đỏ, bố mẹ hoặc bản thân bé có thể chủ động học tập tại nhà. Một số tính năng chính của app có thể kể đến như: Học từ mới, bao gồm cả cách viết và phát âm qua hình ảnh; học từ mới qua các video vui nhộn; các dạng kiểm tra học mà chơi, chơi mà học thú vị như: nhìn hình đoán chữ, nghe phát âm đoán hình,v.v...Các từ mới được cung cấp bao gồm các chủ đề phổ biến và thân thuộc với bé nhất như con vật, các quốc gia, đồ dùng trong nhà, gia đình
            </p>
            <div class="justify-text mobile-version open-san-light">
              <input type="checkbox" class="read-more-state" id="post-1" />

              <p class="read-more-wrap">
                  Phần mềm dành cho các bé từ 4 đến 10 tuổi, đang trong quá trình tiếp xúc và học tập tiếng anh từ những bước đầu tiên. Thay vì các buổi học nhàm chán trên lớp hoặc tốn nhiều tiền đến các trung tâm đắt đỏ, bố mẹ hoặc bản thân bé có thể chủ động học tập tại nhà.
                <span class="read-more-target">
                  Một số tính năng chính của app có thể kể đến như: Học từ mới, bao gồm cả cách viết và phát âm qua hình ảnh; học từ mới qua các video vui nhộn; các dạng kiểm tra học mà chơi, chơi mà học thú vị như: nhìn hình đoán chữ, nghe phát âm đoán hình,v.v...Các từ mới được cung cấp bao gồm các chủ đề phổ biến và thân thuộc với bé nhất như con vật, các quốc gia, đồ dùng trong nhà, gia đình
                </span>
              </p>
              <label for="post-1" class="read-more-trigger"></label>
            </div>
            <div class="relative-container mobile-version">
              <img class="wireframe" src="img/S7.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/40mHfIAKR28" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="responsive-slick">
              <a href="img/Android Tiếng Anh cho bé/Screenshot_2016-09-14-10-07-13.png" data-lightbox="set-1" >
                <img class="demo_pic" src="img/Android Tiếng Anh cho bé/Screenshot_2016-09-14-10-07-13.png" alt="" />
              </a>
              <a href="img/Android Tiếng Anh cho bé/Screenshot_2016-09-14-10-07-19.png" data-lightbox="set-1">
                <img class="demo_pic" src="img/Android Tiếng Anh cho bé/Screenshot_2016-09-14-10-07-19.png" alt="" />
              </a>
              <a href="img/Android Tiếng Anh cho bé/Screenshot_2016-09-14-10-07-53.png" data-lightbox="set-1">
                <img class="demo_pic" src="img/Android Tiếng Anh cho bé/Screenshot_2016-09-14-10-07-53.png" alt="" />
              </a>
              <a href="img/Android Tiếng Anh cho bé/Screenshot_2016-09-14-10-08-18.png" data-lightbox="set-1">
                <img class="demo_pic" src="img/Android Tiếng Anh cho bé/Screenshot_2016-09-14-10-08-18.png" alt="" />
              </a>
              <a href="img/Android Tiếng Anh cho bé/Screenshot_2016-09-14-10-09-18.png" data-lightbox="set-1">
                <img class="demo_pic" src="img/Android Tiếng Anh cho bé/Screenshot_2016-09-14-10-09-18.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-block gray-block">
        <div class="row">
          <div class="col s12 m8 l8">
            <h1 class="source-san-black uppercase-text">Bé học chữ cái</h1>
            <h5 class="">App designer:</h5>
            <h5 class="">Thời gian thực hiện: 1 tuần</h5>
            <h5 class="">Mô tả ngắn:</h5>
            <p class="justify-text desktop-version open-san-light">
                Cùng một seri học tập với phần mềm "Bé học toán và Tiếng anh cho bé"; Bé học chữ là phần mềm đặc biệt dành cho các bé 5, 6 tuổi đang chuẩn bị vào lớp 1 và bắt đầu quá trình làm quen với chữ cái tiếng Việt. Phần mềm được thiết kế sao cho có thể hỗ trợ các bé học tâp một cách đơn giản nhất. TÍnh năng học bảng chữ cái của phần mềm có đầy đủ 24 chữ cái trong tiếng việt và 4 ví dụ cho mỗi chữ cái. Cùng với hình ảnh và âm thanh đi kèm, bé sẽ dễ dàng học những chữ cái hơn so với cách học thông thường. Bên cạnh đó, 2 tính năng kiểm tra trắc nghiệm theo kiểu trò chơi hấp dẫn sẽ cực phù hợp để các be luyện tập theo kiểu vừa học vừa chơi
            </p>
            <div class="justify-text mobile-version open-san-light">
              <input type="checkbox" class="read-more-state" id="post-2" />
              <p class="read-more-wrap">
                  Cùng một seri học tập với phần mềm "Bé học toán và Tiếng anh cho bé"; Bé học chữ là phần mềm đặc biệt dành cho các bé 5, 6 tuổi đang chuẩn bị vào lớp 1 và bắt đầu quá trình làm quen với chữ cái tiếng Việt. Phần mềm được thiết kế sao cho có thể hỗ trợ các bé học tâp một cách đơn giản nhất.
                <span class="read-more-target">
                  TÍnh năng học bảng chữ cái của phần mềm có đầy đủ 24 chữ cái trong tiếng việt và 4 ví dụ cho mỗi chữ cái. Cùng với hình ảnh và âm thanh đi kèm, bé sẽ dễ dàng học những chữ cái hơn so với cách học thông thường. Bên cạnh đó, 2 tính năng kiểm tra trắc nghiệm theo kiểu trò chơi hấp dẫn sẽ cực phù hợp để các be luyện tập theo kiểu vừa học vừa chơi
                </span>
              </p>
              <label for="post-2" class="read-more-trigger"></label>
            </div>
            <div class="relative-container mobile-version">
              <img class="wireframe" src="img/S7.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/gp2TRXjlWYM" frameborder="0" auto allowfullscreen></iframe>
              </div>
            </div>
            <div class="responsive-slick">
                <a href="img/Android Bé học chữ cái/Screenshot_2016-09-28-10-25-11.png" data-lightbox="set-2" >
                  <img class="demo_pic" src="img/Android Bé học chữ cái/Screenshot_2016-09-28-10-25-11.png" alt="" />
                </a>
                <a href="img/Android Bé học chữ cái/Screenshot_2016-09-28-10-25-17.png" data-lightbox="set-2">
                  <img class="demo_pic" src="img/Android Bé học chữ cái/Screenshot_2016-09-28-10-25-17.png" alt="" />
                </a>
                <a href="img/Android Bé học chữ cái/Screenshot_2016-09-28-10-25-24.png" data-lightbox="set-2">
                  <img class="demo_pic" src="img/Android Bé học chữ cái/Screenshot_2016-09-28-10-25-24.png" alt="" />
                </a>
                <a href="img/Android Bé học chữ cái/Screenshot_2016-09-28-10-25-38.png" data-lightbox="set-2">
                  <img class="demo_pic" src="img/Android Bé học chữ cái/Screenshot_2016-09-28-10-25-38.png" alt="" />
                </a>
                <a href="img/Android Bé học chữ cái/Screenshot_2016-09-28-10-25-58.png" data-lightbox="set-2">
                  <img class="demo_pic" src="img/Android Bé học chữ cái/Screenshot_2016-09-28-10-25-58.png" alt="" />
                </a>
            </div>
          </div>
          <div class="col s12 m4 l4 desktop-version">
            <div class="relative-container">
              <img class="wireframe" src="img/S7.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/gp2TRXjlWYM" frameborder="0" auto allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-block">
        <div class="row">
          <div class="col s12 m4 l4 desktop-version">
            <div class="relative-container">
              <img class="wireframe" src="img/S7.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/<R_LgfjRgz7s></R_LgfjRgz7s>" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col s12 m8 l8">
            <h1 class="source-san-black uppercase-text">Bé học toán</h1>
            <h5 class="">App designer:</h5>
            <h5 class="">Thời gian thực hiện: 1 tuần</h5>
            <h5 class="">Mô tả ngắn:</h5>
            <p class="justify-text desktop-version open-san-light">
                Phù hợp dành cho các bé bắt đầu làm quan với toán khi vào lớp 1, Bé học toán sẽ trợ giúp đắc lực để bé tự kiểm tra và luyện tập. Điểm đặc biệt của phần mềm này là bao trọn đủ các dạng toán thông thường trong các bài kiểm tra từ cơ bản đến nâng cao như: đếm hình, điền dấu > < =; dấu +, x, : ; các dạng toán tính toán nhanh và toán đố. Song song với việc luyện tập, "Bé học toán" còn có tính năng kiểm tra. Có 10 gói câu hỏi, mỗi gói 10 câu gồm các bài toán đố chọn đáp án trắc nghiệm và 10 phút trả lời. Tính năng đếm ngược thời gian này sẽ giúp bé làm quen với áp lực thời gian khi kiểm tra trên lớp thực tế.
            </p>
            <div class="justify-text mobile-version open-san-light">
              <input type="checkbox" class="read-more-state" id="post-3" />
              <p class="read-more-wrap">
                  Phù hợp dành cho các bé bắt đầu làm quan với toán khi vào lớp 1, Bé học toán sẽ trợ giúp đắc lực để bé tự kiểm tra và luyện tập. Điểm đặc biệt của phần mềm này là bao trọn đủ các dạng toán thông thường trong các bài kiểm tra từ cơ bản đến nâng cao như: đếm hình, điền dấu > < =; dấu +, x, : ; các dạng toán tính toán nhanh và toán đố. Song song với việc luyện tập, "Bé học toán" còn có tính năng kiểm tra.
                <span class="read-more-target">
                    Có 10 gói câu hỏi, mỗi gói 10 câu gồm các bài toán đố chọn đáp án trắc nghiệm và 10 phút trả lời. Tính năng đếm ngược thời gian này sẽ giúp bé làm quen với áp lực thời gian khi kiểm tra trên lớp thực tế
                </span>
              </p>
              <label for="post-3" class="read-more-trigger"></label>
            </div>
            <div class="relative-container mobile-version">
              <img class="wireframe" src="img/S7.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/wDTDKwttKdg" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="responsive-slick">
              <a href="img/Android bé học toán/1.png" data-lightbox="set-3" >
                <img class="demo_pic" src="img/Android bé học toán/1.png" alt="" />
              </a>
              <a href="img/Android bé học toán/2.png" data-lightbox="set-3">
                <img class="demo_pic" src="img/Android bé học toán/2.png" alt="" />
              </a>
              <a href="img/Android bé học toán/3.png" data-lightbox="set-3">
                <img class="demo_pic" src="img/Android bé học toán/3.png" alt="" />
              </a>
              <a href="img/Android bé học toán/4.png" data-lightbox="set-3">
                <img class="demo_pic" src="img/Android bé học toán/4.png" alt="" />
              </a>
              <a href="img/Android bé học toán/5.png" data-lightbox="set-3">
                <img class="demo_pic" src="img/Android bé học toán/5.png" alt="" />
              </a>
              <a href="img/Android bé học toán/6.png" data-lightbox="set-3">
                <img class="demo_pic" src="img/Android bé học toán/6.png" alt="" />
              </a>
              <a href="img/Android bé học toán/7.png" data-lightbox="set-3">
                <img class="demo_pic" src="img/Android bé học toán/7.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-block gray-block">
        <div class="row">
          <div class="col s12 m8 l8">
            <h1 class="source-san-black uppercase-text">Pronuciation App</h1>
            <h5 class="">App designer:</h5>
            <h5 class="">Thời gian thực hiện: 1 tuần</h5>
            <h5 class="">Mô tả ngắn:</h5>
            <p class="justify-text desktop-version open-san-light">
                Điểm yếu lớn nhất của người Việt khi học tiếng anh là khả năng nghe và phát âm. Đặc biệt, 2 kĩ năng này lại liên quan trực tiếp đến nhau, nói chuẩn mới nhận ra đấy là từ nào đề nghe được. Pronunciation App bao gồm đầy đủ 44 âm trong bảng ngữ âm quốc tế. Các bài giảng được chia thành nguyên âm đơn, nguyên âm đôi, phụ âm. Mỗi bài học gồm có cả video hướng dẫn, cách để khẩu hình mồm và các ví dụ theo từ và câu để dễ theo dõi. Pronunciation App còn hướng dẫn cả các kiến thức liên quan như: trọng âm, ngữ điệu, nối âm, một số cách đọc đặc biệt khác. Bên cạnh đó, app còn 1 tính năng vô cùng quan trọng là kiểm tra như: nghe phát âm, chọn đáp án đúng hay nghe hội thoại điền câu còn thiếu.
            </p>
            <div class="justify-text mobile-version open-san-light">
              <input type="checkbox" class="read-more-state" id="post-9" />
              <p class="read-more-wrap">
                  Điểm yếu lớn nhất của người Việt khi học tiếng anh là khả năng nghe và phát âm. Đặc biệt, 2 kĩ năng này lại liên quan trực tiếp đến nhau, nói chuẩn mới nhận ra đấy là từ nào đề nghe được. Pronunciation App bao gồm đầy đủ 44 âm trong bảng ngữ âm quốc tế. Các bài giảng được chia thành nguyên âm đơn, nguyên âm đôi, phụ âm. Mỗi bài học gồm có cả video hướng dẫn, cách để khẩu hình mồm và các ví dụ theo từ và câu để dễ theo dõi.
                <span class="read-more-target">
                  Pronunciation App còn hướng dẫn cả các kiến thức liên quan như: trọng âm, ngữ điệu, nối âm, một số cách đọc đặc biệt khác. Bên cạnh đó, app còn 1 tính năng vô cùng quan trọng là kiểm tra như: nghe phát âm, chọn đáp án đúng hay nghe hội thoại điền câu còn thiếu.
                </span>
              </p>
              <label for="post-9" class="read-more-trigger"></label>
            </div>
            <div class="relative-container mobile-version">
              <img class="wireframe" src="img/S7.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/wDTDKwttKdg" frameborder="0" auto allowfullscreen></iframe>
              </div>
            </div>
            <div class="responsive-slick">
                <a href="img/Android Pronunciation App/1.png" data-lightbox="set-9" >
                  <img class="demo_pic" src="img/Android Pronunciation App/1.png" alt="" />
                </a>
                <a href="img/Android Pronunciation App/2.png" data-lightbox="set-9">
                  <img class="demo_pic" src="img/Android Pronunciation App/2.png" alt="" />
                </a>
                <a href="img/Android Pronunciation App/3.png" data-lightbox="set-9">
                  <img class="demo_pic" src="img/Android Pronunciation App/3.png" alt="" />
                </a>
                <a href="img/Android Pronunciation App/4.png" data-lightbox="set-9">
                  <img class="demo_pic" src="img/Android Pronunciation App/4.png" alt="" />
                </a>
                <a href="img/Android Pronunciation App/5.png" data-lightbox="set-9">
                  <img class="demo_pic" src="img/Android Pronunciation App/5.png" alt="" />
                </a>
                <a href="img/Android Pronunciation App/6.png" data-lightbox="set-9">
                  <img class="demo_pic" src="img/Android Pronunciation App/6.png" alt="" />
                </a>
                <a href="img/Android Pronunciation App/7.png" data-lightbox="set-9">
                  <img class="demo_pic" src="img/Android Pronunciation App/7.png" alt="" />
                </a>
            </div>
          </div>
          <div class="col s12 m4 l4 desktop-version">
            <div class="relative-container">
              <img class="wireframe" src="img/S7.png">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/wDTDKwttKdg" frameborder="0" auto allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
	  </div>
      <div id="web">
		    <div class="portfolio-block">
      <div class="row">
        <div class="col s12 m4 l5 desktop-version">
          <div class="relative-container">
            <img class="laptop" src="img/frame.png">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/40mHfIAKR28" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col s12 m8 l7">
          <h1 class="source-san-black uppercase-text">SEOV</h1>
          <h5 class="">App designer: Đoàn Nguyễn Hải Hoàng Web 2</h5>
          <h5 class="">Thời gian thực hiện:</h5>
          <h5 class="">Mô tả ngắn:</h5>
          <p class="justify-text desktop-version open-san-light">
              SEOV là dự án nhằm hỗ trợ kết nối các bạn sinh viên xuất sắc với các nhà tuyển dụng đến từ các công ty lớn hàng đầu thế giới cũng như trong nước như Big4, Vingroup, Vietnam esport TV, v.v... Trang web seov là trang web cung cấp những thông tin và hình ảnh cơ bản về dự án SEOV như: giới thiệu chung, lịch sử, các sự kiện đã tổ chức, các đối tác của dự án, v.v... Ngoài ra, trang web còn có phần đăng ký tham gia các sự kiện của SEOV
          </p>
          <div class="justify-text mobile-version open-san-light">
            <input type="checkbox" class="read-more-state" id="post-7" />

            <p class="read-more-wrap">
                SEOV là dự án nhằm hỗ trợ kết nối các bạn sinh viên xuất sắc với các nhà tuyển dụng đến từ các công ty lớn hàng đầu thế giới cũng như trong nước như Big4, Vingroup, Vietnam esport TV, v.v...

              <span class="read-more-target">
                  Trang web seov là trang web cung cấp những thông tin và hình ảnh cơ bản về dự án SEOV như: giới thiệu chung, lịch sử, các sự kiện đã tổ chức, các đối tác của dự án, v.v... Ngoài ra, trang web còn có phần đăng ký tham gia các sự kiện của SEOV
              </span>
            </p>
            <label for="post-7" class="read-more-trigger"></label>
          </div>
          <div class="relative-container mobile-version">
            <img class="laptop" src="img/frame.png">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/40mHfIAKR28" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="responsive-slick">
            <a href="img/web seov/1.PNG" data-lightbox="set-7" >
              <img class="demo_pic" src="img/web seov/1.PNG" alt="" />
            </a>
            <a href="img/web seov/2.PNG" data-lightbox="set-7" >
              <img class="demo_pic" src="img/web seov/2.PNG" alt="" />
            </a>
            <a href="img/web seov/3.PNG" data-lightbox="set-7" >
              <img class="demo_pic" src="img/web seov/3.PNG" alt="" />
            </a>
            <a href="img/web seov/4.PNG" data-lightbox="set-7" >
              <img class="demo_pic" src="img/web seov/4.PNG" alt="" />
            </a>
            <a href="img/web seov/5.PNG" data-lightbox="set-7" >
              <img class="demo_pic" src="img/web seov/5.PNG" alt="" />
            </a>
            <a href="img/web seov/6.PNG" data-lightbox="set-7" >
              <img class="demo_pic" src="img/web seov/6.PNG" alt="" />
            </a>
            <a href="img/web seov/7.PNG" data-lightbox="set-7" >
              <img class="demo_pic" src="img/web seov/7.PNG" alt="" />
            </a>
            <a href="img/web seov/8.PNG" data-lightbox="set-7" >
              <img class="demo_pic" src="img/web seov/8.PNG" alt="" />
            </a>
            <a href="img/web seov/9.PNG" data-lightbox="set-7" >
              <img class="demo_pic" src="img/web seov/9.PNG" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-block gray-block">
      <div class="row">
        <div class="col s12 m8 l7">
          <h1 class="source-san-black uppercase-text">Techkids</h1>
          <h5 class="">App designer: Nguyễn Phương Thảo, Trần Công Khánh Web 2</h5>
          <h5 class="">Thời gian thực hiện:</h5>
          <h5 class="">Mô tả ngắn:</h5>
          <p class="justify-text desktop-version open-san-light">
              Trang web giới thiệu về Techkids, bao gồm các thông tin về các khóa học IOS, Android, Web, Code for kids, Code for everyone, cùng một số thông tin khác như thông tin về học viên, giảng viên, các sự kiện thường gặp, sản phẩm học viên. Trang web cũng cho phép khách hàng đăng ký học online và đăng ký nhận chương trình học. Bên cạnh đó, web còn có một số trang landing page đặc biệt dùng cho các sự kiện như Cuộc thi Techkids Hackathon
          </p>
          <div class="justify-text mobile-version open-san-light">
            <input type="checkbox" class="read-more-state" id="post-8" />

            <p class="read-more-wrap">
                Trang web giới thiệu về Techkids, bao gồm các thông tin về các khóa học IOS, Android, Web, Code for kids, Code for everyone, cùng một số thông tin khác như thông tin về học viên, giảng viên, các sự kiện thường gặp, sản phẩm học viên.
              <span class="read-more-target">
                  Trang web cũng cho phép khách hàng đăng ký học online và đăng ký nhận chương trình học. Bên cạnh đó, web còn có một số trang landing page đặc biệt dùng cho các sự kiện như Cuộc thi Techkids Hackathon
              </span>
          </p>

            <label for="post-8" class="read-more-trigger"></label>
          </div>
          <div class="relative-container mobile-version">
            <img class="laptop" src="img/frame.png">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/40mHfIAKR28" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="responsive-slick">
            <a href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="set-8">
              <img class="demo_pic" src="img/IOS GMAT_/1.png" alt="" />
            </a>
            <a href="img/IOS GMAT_/1.png" data-lightbox="set-8" >
              <img class="demo_pic" src="img/IOS GMAT_/1.png" alt="" />
            </a>
            <a href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="set-8">
              <img class="demo_pic" src="img/IOS GMAT_/1.png" alt="" />
            </a>
            <a href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="set-8">
              <img class="demo_pic" src="img/IOS GMAT_/1.png" alt="" />
            </a>
            <a href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="set-8">
              <img class="demo_pic" src="img/IOS GMAT_/1.png" alt="" />
            </a>
            <a href="img/IOS GMAT_/1.png" data-lightbox="set-8">
              <img class="demo_pic" src="img/IOS GMAT_/1.png" alt="" />
            </a>
            <a href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="set-8">
              <img class="demo_pic" src="img/IOS GMAT_/1.png" alt="" />
            </a>
            <a href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="set-8">
              <img class="demo_pic" src="img/IOS GMAT_/1.png" alt="" />
            </a>
          </div>
        </div>
        <div class="col s12 m4 l5 desktop-version">
          <div class="relative-container">
            <img class="laptop" src="img/frame.png">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/40mHfIAKR28" frameborder="0" auto allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
	  </div>
      <div class="service-contact__container">
        <div class="container">
          <div class="row view-jobs-opening">
            <div class="col-xs-12 col-sm-9">
              <p style="text-align: center;">Do you want to start your journey now?</p>
            </div>
            <div class="col-xs-12 col-sm-3 clear" data-require="base/click-item">
              <a class="pull-right view-more-jobs" href="/web/20160429151100/http://niteco.com/contact-us/">
                  CONTACT US
              </a>
            </div>
          </div>
        </div>
      </div>
      <section class="home-block-row our-work-footer container-zindex-one" data-require="base/click-item">
        <div class="our-works-footer__item home-block-item home-block-item__dark-bg">
          <a title="Tell Us What You Need" href="/web/20160429151100/http://niteco.com/contact-us/">
            <span class="home-block-item__background">
                <picture>
                    <source media="(min-width: 75rem)" srcset="../images/our-work-bg.jpg">
                    <!-- <source media="(min-width: 62rem)" srcset="/globalassets/teaser/footer-left.jpg?preset=1300">
                    <source media="(min-width: 48rem)" srcset="/globalassets/teaser/footer-left.jpg?preset=1000"> -->
                    <img class="home-block-item__background" src="../images/our-work-bg.jpg" alt="Our Portfolio">
                </picture>
            </span>
            <span class="home-block-item__content-container">
            <span class="home-block-item__content">
                <span class="home-block-item__big-text">See our portfolio</span>
            <span class="home-block-item__big-text">Meet our happy partners</span>
            </span>
            <!-- <span class="home-block-item__content-second">
                <p>We have offices in 4 countries, across 3 continents. One of them is close to you.</p>
            </span> -->
            </span>
          </a>
        </div>
        <div class="our-works-footer__item home-block-item home-block-item__bright-bg">
          <a title="See our full list of skills" href="/web/20160429151100/http://niteco.com/our-technologies/">
            <span class="home-block-item__background">
                <picture>
                    <source media="(min-width: 75rem)" srcset="../images/engagement-bg.jpg">
                    <!-- <source media="(min-width: 62rem)" srcset="/globalassets/teaser/footer-right.jpg?preset=1300">
                    <source media="(min-width: 48rem)" srcset="/globalassets/teaser/footer-right.jpg?preset=1000"> -->
                    <img class="home-block-item__background" src="../images/engagement-bg.jpg" alt="How can we help you">
                </picture>
            </span>
            <span class="home-block-item__content-container">
            <span class="home-block-item__content">
                <!-- <span class="home-block-item__small-text">See our portfolio</span> -->
                <span class="home-block-item__big-text">How we can help you</span>
                <span class="home-block-item__big-text">fast and effectively</span>
            </span>
            <!-- <span class="home-block-item__content-second">
                <p>There are a total of 64 technologies in our skill set</p>
            </span> -->
            </span>
          </a>
        </div>

      </section>
    </div>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="libs/lightbox/dist/js/lightbox.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <script type="text/javascript" src='scripts/main.js'></script>
  <script src="scripts/script.js"></script>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-78355215-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- Built with love using Web Starter Kit -->
</body>

</html>
