<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="google-site-verification" content="ABlpbOSOCFI7F5iCwtC2DWK-dLXwww7r9Fdh6nW5weA">
  <title>TechKids - Coding School</title>
  <meta property='og:image' , content='http://techkids.vn/cms/img/logo.png'>
  <meta property='og:site_name' , content='TechKids Coding School'>
  <meta property='og:description' , content='Chúng tôi ở đây để tạo ra những con người có thể thay đổi thế giới.'>


  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Web Starter Kit">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">

  <!-- Color the status bar on mobile devices -->
  <meta name="theme-color" content="#2F3BA2">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/menu.css">
</head>

<body>

  <div id="o-wrapper" class="o-wrapper">

    <header class="o-header" style="position: fixed; top: 0; left: 0; right: 0px; z-index: 10000;">
      <nav class="o-header-nav">
        <div class="c-header" style="position: absolute">
          <a id="c-button--push-right" href="#" class="header__icon" id="header__icon"></a>
          <a href="/"><img class="header__logo" src="./images/White.png" alt="Chúng tôi ở đây để tạo ra những con người có thể thay đổi thế giới." /></a>
        </div>
      </nav>
      <div class="o-container">
      </div>
    </header>
    <!-- /o-header -->
  </div>
  <!-- /o-wrapper -->


  <nav id="c-menu--push-right" class="c-menu c-menu--push-right">
    <button class="c-menu__close"><i class="material-icons ">&#xE5CD;</i></button>
    <ul class="c-menu__items">
      <li class="c-menu__item"><a href="/service" class="c-menu__link">Our Services</a></li>
      <li class="c-menu__item"><a href="/our-team" class="c-menu__link">Our Team</a></li>
      <li class="c-menu__item"><a href="/portfolio" class="c-menu__link">Our Portfolio</a></li>
      <li class="c-menu__item"><a href="#" class="c-menu__link">Our Working Process</a></li>
      <li class="c-menu__item"><a href="#" class="c-menu__link">Our Happy Partners</a></li>
      <li class="c-menu__item"><a href="#" class="c-menu__link">Our School</a></li>
      <li class="c-menu__item"><a href="#" class="c-menu__link">Careers Opportunities</a></li>
      <li class="c-menu__item"><a href="#" class="c-menu__link">Blog (Vietnamese Only)</a></li>
      <li class="c-menu__item"><a href="/contact" class="c-menu__link">Contact Us</a></li>
    </ul>
  </nav>
  <!-- /c-menu push-right -->

  <div id="c-mask" class="c-mask"></div>
  <!-- /c-mask -->
  <div class="content-container">
    <div class="content-wrapper">
      <section class="page-introduction-container" style="height: 576px;">
        <div class="page-introduction-top-block" data-require="base/page-introduction">
          <div class="page-introduction-top-block__background page-introduction__background" style="top: 0px;">
            <picture>
              <source media="(min-width: 75rem)" srcset="../images/background3.jpg">
              <!-- <source media="(min-width: 62rem)" srcset="/globalassets/header-new-images/desktop/engagement-header.jpg?preset=1300">
                <source media="(min-width: 48rem)" srcset="/globalassets/header-new-images/tablet/engagement-header-tablet.jpg?preset=1000, /globalassets/header-new-images/tablet_2x/engagement-header-tablet_2x.jpg?preset=1900 2x"> -->
              <img src="../images/background3.jpg" alt="Our Team">
            </picture>
          </div>
          <div class="page-introduction-top-block__content page-introduction__content" style="margin-top: 65px; opacity: 1;">
            <h1 class="myriadpro">People behind TechKids</h1>
            <span class="page-introduction-top-block__content__sub-title">
                 Rebels. Misfits. Extraordinaries.
              </span>
          </div>
          <div class="page-introduction-top-block__arrow-down page-introduction__arrow" style="bottom: 80px;">
            <i class="fa fa-angle-down"></i>
          </div>
        </div>
      </section>
      <div class="career-steps__container" id="team">
        <div class="careers-middle-block careers-block">
          <div class="container">
            <div class="row careers-apply-step">
              <div class="col-xs-12 col-sm-3 checking-animate slide-in-from-bottom">
                <div class="careers-step-detail">
                  <div class="step-content">
                    <h3 class="step-name">Lorem ipsum dolor</h3>
                    <p>
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                    <p></p>
                  </div>
                  <img class="step-number" src="../images/Layer 1- our team.png" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 checking-animate slide-in-from-bottom">
                <div class="careers-step-detail">
                  <div class="step-content">
                    <h3 class="step-name">Lorem ipsum dolor</h3>
                    <p>
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                    <p></p>
                  </div>
                  <img class="step-number" src="../images/Layer 2- our team.png" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 checking-animate slide-in-from-bottom">
                <div class="careers-step-detail">
                  <div class="step-content">
                    <h3 class="step-name">Lorem ipsum dolor</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                    <p></p>
                  </div>
                  <img class="step-number" src="../images/Layer 3- our team.png" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 checking-animate slide-in-from-bottom">
                <div class="careers-step-detail">
                  <div class="step-content">
                    <h3 class="step-name">Lorem ipsum dolor</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                    <p></p>
                  </div>
                  <img class="step-number" src="../images/Layer 4- our team.png" alt="">
                </div>
              </div>
            </div>
            <div class="row careers-apply-step">
              <div class="col-xs-12 col-sm-3 checking-animate slide-in-from-bottom">
                <div class="careers-step-detail">
                  <div class="step-content">
                    <h3 class="step-name">Lorem ipsum dolor</h3>
                    <p>
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                    <p></p>
                  </div>
                  <img class="step-number" src="../images/Layer 5- our team.png" alt="our service">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 checking-animate slide-in-from-bottom">
                <div class="careers-step-detail">
                  <div class="step-content">
                    <h3 class="step-name">Lorem ipsum dolor</h3>
                    <p>
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                    <p></p>
                  </div>
                  <img class="step-number" src="../images/Layer 6- our team.png" alt="">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 checking-animate slide-in-from-bottom">
                <div class="careers-step-detail">
                  <div class="step-content">
                    <h3 class="step-name">Lorem ipsum dolor</h3>
                    <p>
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                    <p></p>
                  </div>
                  <img class="step-number" src="../images/Layer 7- our team.png" alt="our care">
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 checking-animate slide-in-from-bottom">
                <div class="careers-step-detail">
                  <div class="step-content">
                    <h3 class="step-name">Lorem ipsum dolor</h3>
                    <p>
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                    <p></p>
                  </div>
                  <img class="step-number" src="../images/Layer 8- our team.png" alt="our care">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="service-contact__container">
        <div class="container">
          <div class="row view-jobs-opening">
            <div class="col-xs-12 col-sm-9">
              <p style="text-align: center;">Do you want to start your journey now?</p>
            </div>
            <div class="col-xs-12 col-sm-3 clear" data-require="base/click-item">
              <a class="pull-right view-more-jobs" href="/contact">
                  CONTACT US
              </a>
            </div>
          </div>
        </div>
      </div>
      <section class="home-block-row our-work-footer container-zindex-one" data-require="base/click-item">
        <div class="our-works-footer__item home-block-item home-block-item__dark-bg">
          <a title="Tell Us What You Need" href="/portfolio">
            <span class="home-block-item__background">
                <picture>
                    <source media="(min-width: 75rem)" srcset="../images/our-work-bg.jpg">
                    <!-- <source media="(min-width: 62rem)" srcset="/globalassets/teaser/footer-left.jpg?preset=1300">
                    <source media="(min-width: 48rem)" srcset="/globalassets/teaser/footer-left.jpg?preset=1000"> -->
                    <img class="home-block-item__background" src="../images/our-work-bg.jpg" alt="Our Portfolio">
                </picture>
            </span>
            <span class="home-block-item__content-container">
            <span class="home-block-item__content">
                <span class="home-block-item__big-text">See our portfolio</span>
            <span class="home-block-item__big-text">Meet our happy partners</span>
            </span>
            <!-- <span class="home-block-item__content-second">
                <p>We have offices in 4 countries, across 3 continents. One of them is close to you.</p>
            </span> -->
            </span>
          </a>
        </div>
        <div class="our-works-footer__item home-block-item home-block-item__bright-bg">
          <a title="See our full list of skills" href="/service">
            <span class="home-block-item__background">
                <picture>
                    <source media="(min-width: 75rem)" srcset="../images/engagement-bg.jpg">
                    <!-- <source media="(min-width: 62rem)" srcset="/globalassets/teaser/footer-right.jpg?preset=1300">
                    <source media="(min-width: 48rem)" srcset="/globalassets/teaser/footer-right.jpg?preset=1000"> -->
                    <img class="home-block-item__background" src="../images/engagement-bg.jpg" alt="How can we help you">
                </picture>
            </span>
            <span class="home-block-item__content-container">
            <span class="home-block-item__content">
                <!-- <span class="home-block-item__small-text">See our portfolio</span> -->
            <span class="home-block-item__big-text">How we can help you</span>
            <span class="home-block-item__big-text">fast and effectively</span>
            </span>
            <!-- <span class="home-block-item__content-second">
                <p>There are a total of 64 technologies in our skill set</p>
            </span> -->
            </span>
          </a>
        </div>

      </section>
    </div>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="scripts/script.js"></script>
  <script src="scripts/menu.js"></script>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-78355215-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- Built with love using Web Starter Kit -->
</body>

</html>
